/* core style  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');
:root{
  --montserrat: 'Montserrat', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --oronge:#F4683F;
  --border:1px solid black;
  --margin:0 auto;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-def{
  max-width: 1800px;
  width: 100%;
  margin: var(--margin);

}
.container1{
  width: 100%;
  max-width: 1300px;
margin: 0 auto;
}
.global-p{
  font-family:var(--montserrat);
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
}
.global-a{
  font-family:var(--montserrat);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}
.global-btn{
  border: none;
  outline: none;

}
body{
  overflow-x: hidden;
}
/* /core style */

@media only screen and (max-width: 450px) {

  header{
    padding: 0px 0px;
    background-image: none;
    background-attachment: scroll;
    clip-path: none;
height: 700px;
  }
  .header{
    width: 100%;
    background-image:url(../images/bg_photo\ \(2\).png);
  background-size: cover;
}
  nav{
background: none;
    display: flex !important;
    justify-content: space-between;
  }
  .logo{
    width: 200px;
    height: 100%;
  }
  
  .nav-form{
    display: none;
  }
  .header-navigation__left{
    display: none;
  }
  .header-navigation{
    display: none;
  }
  .burger-menu{
 display: block;
display: flex;
gap:10px  
}

  .burger-menu button{
    border: none;
    background:none;
    color: #FFFFFF;
    outline: none;
  }
.burger-menu svg{
  stroke: #FFFFFF;
  fill: #FFFFFF;
}
.burger-menu svg:hover{
  stroke: #F4683F;
  fill: #F4683F;
color: #F4683F;
}
/* start hero style  */
.elips{
  display:block;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: -50px;
width: 380px;
}
.elips span{
  width: 84px;
  height: 53px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
  border-radius: 200px;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
}

.hero{
  width: 100%;
  flex-direction: column;
  gap: 63px;
}
.container{
  background: none;
}
.hero-text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text h1{
  font-size: 30px;
  width: 256px;
margin-bottom: 22px !important;
text-align: center;
margin-left: 0;
}
.hero-text p{
  margin-left: 0;
font-weight: 600;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
width: 249px;
height: 54px;
}
.hero-slide{
  display: none;
}
.hero-form{
  display: none;
}
.social{
  display: none;
}
.responsive-btn{
  display: block;
  width: 320px;
  height: 50px;
  background: #F4683F;
  border-radius: 200px;
  border: none;
  outline: none;

  }
  .responsive-btn a{
    text-decoration: none;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;

  }
  .responsive-btn:hover{
    background: none;
    border: 1px solid white;
    width: 380px;
    height: 60px;
  }
/* /end hero style  */

/* start about style */

.about-section{
  margin-bottom: 800px;

}
.about-title{
  margin-bottom: 30px;
}
#navbar-example2{
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
padding: 20px 0px !important;
}
.nav{
  width: 100% !important;
}
.nav-item{
  width: fit-content;
  padding: 0;
  text-decoration: none;
}
.nav-link{
  width: 100%;
  font-size: 12px;
display: flex !important;
flex-direction: column !important;
justify-content: center;
align-items: center;
gap: 10px;
color: black !important;
}
.nav-link:hover svg,
.nav-link:hover{
  stroke: #F4683F;
  fill: #F4683F;
  color: #F4683F !important;
}
.nav-link svg{
  width: 30px;
}
.about-cards{
display: flex !important;
  flex-direction: column !important;
}
.about-cards__items{
  width: 90%;
}
/* /end about style  */

/* start catolog style  */
.catolog-section{
}
.catolog-title{
  width: 100%;
  margin-bottom: 40px;
}
.catolog-title h2{
  width: 60%;
}
.catolog-cards{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catolog-cards__items{
  width: 350px;
height: 570px;
}
.catolog-cards__items-bottom{
  align-items: center;
}
.catolog-cards__items-bottom a{
width: 200px !important;
height: 45px;
background: #FFFFFF;
border: 1px solid #C0C2D7;
border-radius: 200px;
text-align: center;
padding: 10px 0px;
font-size: 12px !important;

margin-bottom: 20px;
}
.heart{
  left: 0;
  margin: 15px 0px 0px 24px;
  top: 0;
}
.catolog-cards__items-bottom h4{
  font-size: 15px !important;
  width: 100%;
  margin-bottom: 20px;
}
.catolog-cards__items-bottom a:hover{
  background-color: #F4683F;
  color: white;
  
}
.btn3{
width: 320px;
height: 50px;
background: #F4683F;
border-radius: 200px;
margin-top:61px;
}
/* /end catolog style  */

/* start services style  */
.services{
  width: 100%;
}
.services-title{
  width: 100%;
  margin-bottom: 40px;
}
.services-title h2{
font-size: 30px;
}

.services-cards{
  flex-direction: column;
  padding: 0px 5px;
}
.services-cards__items{
  width: 370px;

}
/* /end services style  */

/* start footer style  */
footer{
  margin-top: 100px;
}
.rent{
  height: 600px !important;
}
.rent-text{
  width: 100%;
  position: relative;
  top: 300px;
  left: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.rent-text h2{
  font-size: 32px;
}
.footer-nav{
  flex-direction: column;
  height: 800px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:21px ;
}
.footer-logo p{
  display: none;
}
.footer-nav__list{
  display: none;
}
.buttons{
  display: block;
  display: flex !important;
  flex-direction: column;
  gap: 15px !important;
}
.buttons select{
  border: none;
  background: none;
  outline: none;
  width: 80px;
  height: 50px;
  color: #FFFFFF;
}
.footer-btn{
width: 300px;
height: 40px;
border: 1px solid #C0C2D7;
border-radius: 200px;
outline: none;
cursor: pointer;
background: none;
margin-bottom: 15px;
}
.footer-btn:hover{
  background-color: #F4683F;
  cursor: pointer;
}
.footer-btn a{
  font-size: 13px;
}
.footer-btn:hover a{
  text-decoration: none;
  color: white;

}
.footer-icons{
  margin-top: 30px;
}
/* /end footer style  */

}
